<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

    <title>@ViewBag.Title</title>
</head>
<body>
    <h4>YesDay</h4>
    <form>
        <input type="submit" asp-controller="Couple" asp-action="Logout" value="Logga ut" />
    </form>
    <div>
        @RenderBody()
    </div>
</body>
</html>
