@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="nav-toggle">
                    <div class="nav-toggle-bar"></div>
                </div>
                <nav class="nav">
                    <form>
                        <ul>

                            <li><a asp-controller="couple" asp-action="guestlist">Guestlist</a></li>
                            <li><a asp-controller="Couple" asp-action="GuestList">Gästlista</a></li>
                            <li><a asp-controller="couple" asp-action="checklist">Checklista</a></li>
                            <li><a asp-controller="couple" asp-action="vendor">Leverantörer</a></li>
                            <li><a href="www.google.se">Budget</a></li>
                            <li><a href="#">Inställningar</a></li>
                            <li><a asp-controller="public" asp-action="logout">Logga ut</a></li>
                        </ul>
                    </form>
                </nav>
                <script>
                    (function () {

                        var hamburger = {
                            navToggle: document.querySelector('.nav-toggle'),
                            nav: document.querySelector('nav'),

                            doToggle: function (e) {
                                e.preventDefault();
                                this.navToggle.classList.toggle('expanded');
                                this.nav.classList.toggle('expanded');
                            }
                        };

                        hamburger.navToggle.addEventListener('click', function (e) { hamburger.doToggle(e); });
                        //hamburger.nav.addEventListener('click', function (e) { hamburger.doToggle(e); });

                    }());
                </script>
            </div>
            <div class="col">
                <h4>YesDay</h4>
            </div>

            <div class="col">
                <form>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" asp-controller="Couple" asp-action="Logout" value="Logga ut" />
                    </div>
                </form>

            </div>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
</body>
</html>
