@model CoupleAddNewGuestVM

@{
    ViewData["Title"] = "YesDay - Lägg till ny gäst";
}

<br />
<form asp-controller="Couple" asp-action="AddGuest" method="post">
    <div>
        <p class="obligatorisk">(* = Obligatoriska fält)</p>

        <label asp-for="Firstname"></label>
        <input asp-for="Firstname" />
        <span asp-validation-for="Firstname"></span>
        <br />
        <label asp-for="Lastname"></label>
        <input asp-for="Lastname" />
        <span asp-validation-for="Lastname"></span>
        <br />
        <label asp-for="Address"></label>
        <input asp-for="Address" />
        <br />
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
        <br />
        <label asp-for="InvitedBy"></label>
        <input asp-for="InvitedBy" />
        <br />
        <label asp-for="GuestTitle"></label>
        <input asp-for="GuestTitle" />
        <br />
        <label asp-for="WeddingCrewTitle"></label>
        <input asp-for="WeddingCrewTitle" />
        <br />
        <label asp-for="GuestNote"></label>
        <textarea asp-for="GuestNote" rows="10"></textarea>
    </div>
    <input class="btn btn-light" type="submit" value="Spara och stäng"/>
    <input class="btn btn-light" type="submit" value="Spara och lägg till ny" />

    <br /><br />
    <a href="">Avbryt</a>
</form>

