@model CoupleAddNewTaskVM
@{
    ViewData["Title"] = "YesDay - Uppgift";
}

<div id="header" class="row">
    <div class="col">
        <h2>Lägg till en uppgift</h2>
    </div>
</div>

<form asp-controller="Couple" asp-action="AddTask" method="post">
    <p class="obligatorisk">(* = Obligatoriska fält)</p>
    <div class="form-group-row">
        <div class="col-3">
            <label asp-for="TaskDescription"></label>
            <input class="form-control" asp-for="TaskDescription" />
            <span asp-validation-for="TaskDescription"></span>
            <br />
        </div>
        <div class="col-3">
            <label asp-for="DueDate"></label>
            <input class="form-control" asp-for="DueDate" />
            <br />
        </div>
        <div class="col-3">
            <label asp-for="TaskNote"></label>
            <input class="form-control" asp-for="TaskNote" />
            <br />
        </div>
        <div class="col-3">
            <label asp-for="TaskStatus"></label>
            <select class="form-control" asp-for="SelectedTaskStatus" asp-items="Model.TaskStatus"></select>

        </div>
    </div>
    <div class="row" style="padding-top:40px;">
        <input class="btn btn-light" type="submit" Name="SaveCancel" value="Spara och stäng" />
        <input class="btn btn-light" type="submit" Name="SaveAdd" value="Spara och lägg till ny" />
    </div>
    <br />
    <a href="/Couple/Checklist">Avbryt</a>
</form>