@model CoupleAddNewVendorVM
@{
    ViewData["Title"] = "YesDay - Leverantörstjänster";
}

<h2>Leverantörstjänster</h2>

<form asp-controller="Couple" asp-action="AddVendor" method="post">
    <div>

        <label asp-for="Service"></label>
        <input asp-for="Service" />
        <span asp-validation-for="Service"></span>
        <br />
        <label asp-for="ContactInfo"></label>
        <textarea asp-for="ContactInfo" rows="10"></textarea>
    </div>

    <input class="btn btn-light" type="submit" Name="SaveCancel" value="Spara och stäng" />
    <input class="btn btn-light" type="submit" Name="SaveAdd" value="Spara och lägg till ny" />

    <br />

    <a href="/Couple/Checklist">Avbryt</a>
</form>