@model CoupleAddNewVendorVM
@{
    ViewData["Title"] = "YesDay - Leverantörstjänster";
}

<div class="container">
    <div id="header" class="row">
        <div class="col">
            <h2>Lägg till leverantör</h2>
        </div>
    </div>
    <form asp-controller="Couple" asp-action="AddVendor" method="post">
        <p class="obligatorisk">(* = Obligatoriska fält)</p>

        <div class="form-group-row">
            <div class="row">

                <div class="col-3">
                    <label asp-for="Service"></label>
                </div>
                <div class="col-3">
                    <input class="form-control" asp-for="Service" />
                    <span asp-validation-for="Service"></span>
                </div>
            </div>
            <div class="row" style="padding-top:10px">
                <div class="col-3">
                    <label asp-for="ContactInfo"></label>
                </div>
                <div class="col-3">
                    <textarea class="form-control" asp-for="ContactInfo" rows="5"></textarea>
                </div>
            </div>
            <div class="row" style="padding-top:40px;">
                <input class="btn btn-light" type="submit" Name="SaveCancel" value="Spara och stäng" />
                <input class="btn btn-light" type="submit" Name="SaveAdd" value="Spara och lägg till ny" />
            </div>
        </div>

    </form>
</div>

<br />

<a asp-controller="Couple" asp-action="Vendor">Avbryt</a>