@model CoupleChecklistVM[]
@{
    ViewData["Title"] = "YesDay - Checklista";
}

<h2>CheckList</h2>

@foreach (var item in Model)
{
    @item.TaskDescription
    @item.DueDate
    @item.TaskNote
    @item.TaskStatus
}

