@model CoupleExpenseVM[]
@{
    ViewData["Title"] = "Expense";
}

<h2>Budget</h2>



<a href="/couple/addexpense"><input type="submit" value="Lägg till"></a>

<table>

    <thead>
        <tr>
            <th>Förnamn</th>
            <th>Beräknad kostnad</th>
            <th>Faktisk kostnad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Item</td>
                <td>@item.EstimatedCost</td>
                <td>@item.ActualCost</td>
            </tr>
        }
    </tbody>
</table>

