@model CoupleUpdateExpenseVM
@{
    ViewData["Title"] = "YesDay - Budget";
}

<div id="header" class="row">
    <div class="col">
        <h2>Uppdatera budget</h2>
    </div>
</div>


<form asp-controller="Couple" asp-action="UpdateExpense" method="post">
    <p class="obligatorisk">(* = Obligatoriska fält)</p>

    <div class="form-group-row">
        <div class="row">
            <div class="col-3">
                <label asp-for="Item"></label>
            </div>
            <div class="col-3">
                <input class="form-control" asp-for="Item" />
                <span asp-validation-for="Item"></span>
            </div>
        </div>
        <div class="row" style="padding-top:10px">
            <div class="col-3">
                <label asp-for="ActualCost"></label>
            </div>
            <div class="col-3">
                <input class="form-control" asp-for="ActualCost" />
            </div>
        </div>
    </div>
    <div style="padding-top:40px;">
        <input class="btn btn-light" type="submit" value="Spara  " />
    </div>
</form>
<br />
<a href="/Couple/Expense">Avbryt</a>
