@model CoupleUpdateExpenseVM
@{
    ViewData["Title"] = "YesDay - Budget";
}

<h3>Uppdatera Budget</h3>


<form asp-controller="Couple" asp-action="UpdateExpense" method="post">
    <div>
        <p class="obligatorisk">(* = Obligatoriska fält)</p>
        <div class="row">
            <div class="col-3">
                <label asp-for="Item"></label>
            </div>
            <div class="col-3">
                <input asp-for="Item" />
                <span asp-validation-for="Item"></span>
                <br />

            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label asp-for="ActualCost"></label>

            </div>
            <div class="col-3">
                <input asp-for="ActualCost" />

            </div>
        </div>

    </div>
    <input class="btn btn-light" type="submit" value="Spara" />

    <a href="/Couple/Expense">Avbryt</a>
</form>
