@model CoupleUpdateVendorVM
@{
    ViewData["Title"] = "Uppdatera Leverantör";
}
<div id="header" class="row">
    <div class="col">
        <h2>Uppdatera leverantör</h2>
    </div>
</div>

<form asp-controller="Couple" asp-action="UpdateVendor" method="post">
    <div class="form-group-row">
        <div class="row">

            <div class="col-3">
                <label asp-for="Service"></label>
            </div>
            <div class="col-3">
                <input class="form-control" asp-for="Service" />
                <span asp-validation-for="Service"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label asp-for="ContactInfo"></label>
            </div>
            <div class="col-3">
                <textarea class="form-control" asp-for="ContactInfo" rows="5"></textarea>
            </div>
        </div>
        <div class="row" style="padding-top:40px;">
            <input class="btn btn-light" type="submit" value="Uppdatera" />
        </div>
    </div>


    <br />

</form>
<br />
<a href="/Couple/Vendor">Avbryt</a>
