@model CoupleUpdateVendorVM
@{
    ViewData["Title"] = "Uppdatera Leverantör";
}
<div id="header" class="row">
    <div class="col">
        <h2>Uppdatera leverantör</h2>
    </div>
</div>

<form asp-controller="Couple" asp-action="UpdateVendor" method="post">
    <div>

        <label asp-for="Service"></label>
        <input asp-for="Service" />
        <span asp-validation-for="Service"></span>
        <br />
        <label asp-for="ContactInfo"></label>
        <textarea asp-for="ContactInfo" rows="10"></textarea>
    </div>

    <input class="btn btn-light" type="submit" value="Uppdatera" />

    <br />

    <a href="/Couple/Vendor">Avbryt</a>
</form>
