@model CoupleUpdateGuestlistVM
@{
    ViewData["Title"] = "YesDay - Uppdatera gäst";
}
<div id="header" class="row">
    <div class="col">
        <h2>Uppdatera gäst</h2>
    </div>
</div>

<form asp-controller="Couple" asp-action="UpdateGuest" method="post">
    <p class="obligatorisk">(* = Obligatoriska fält)</p>
    <div class="form-group-row">
        <div class="row">
            <div class="col-3">
                <label asp-for="Firstname"></label>
            </div>
            <div class="col-3">
                <input class="form-control" asp-for="Firstname" />
                <span asp-validation-for="Firstname"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label asp-for="Lastname"></label>
            </div>
            <div class="col-3">
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname"></span>
            </div>
        </div>
        <div class="row">

            <div class="col-3">
                <label asp-for="Address"></label>
            </div>
            <div class="col-3">
                <input asp-for="Address" class="form-control" />
            </div>
        </div>
        <div class="row">

            <div class="col-3">
                <label asp-for="Email"></label>

            </div>
            <div class="col-3">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>

        </div>
        <div class="row">

            <div class="col-3">
                <label asp-for="InvitedBy"></label>

            </div>
            <div class="col-3">
                <input asp-for="InvitedBy" class="form-control" />
            </div>

        </div>
        <div class="row">

            <div class="col-3">
                <label asp-for="GuestTitle"></label>
            </div>
            <div class="col-3">
                <input asp-for="GuestTitle" class="form-control" />
            </div>
        </div>
        <div class="row">

            <div class="col-3">
                <label asp-for="WeddingCrewTitle"></label>

            </div>
            <div class="col-3">
                <input asp-for="WeddingCrewTitle" class="form-control" />
            </div>

        </div>
        <div class="row">

            <div class="col-3">
                <label asp-for="GuestStatus"></label>

            </div>
            <div class="col-3">
                <select asp-for="SelectedRsvp" asp-items="Model.GuestStatus" class="form-control"></select>
            </div>
        </div>

        <div class="row">

            <div class="col-3">
                <label asp-for="FoodPreference"></label>

            </div>
            <div class="col-3">
                <input asp-for="FoodPreference" class="form-control" />
            </div>

        </div>

        <div class="row">

            <div class="col-3">
                <label asp-for="GuestNote"></label>

            </div>
            <div class="col-3">
                <textarea asp-for="GuestNote" rows="8" class="form-control"></textarea>
            </div>

        </div>
        <div style="padding-top:40px;">
            <input class="btn btn-light" type="submit" value="Spara " />
        </div>
</form>
<br />
 <a asp-controller="Couple" asp-action="Guestlist">Avbryt</a>
