@model PublicLogInVM

<form asp-controller="Public" asp-action="Login">
    <div class="row">
        <div class="col-3">
            <label asp-for="UserName"></label>
        </div>
        <div class="col-3">
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <label asp-for="Password"></label>
        </div>
        <div class="col-3">
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
    </div>


    <input class="button" type="submit" value="Logga in" />

</form>

