@model PublicLogInVM

<div id="header" class="row" style="margin-bottom:30px">
    <div class="col-2"></div>
    <div class="col">
        <h2>Logga in</h2>
    </div>
</div>
<div class="row" style="margin-bottom:40px">

    <div class="col-2"></div>
    <div class="col">
        <form asp-controller="Public" asp-action="Login">
            <div class="form-group col-md-6">

                <label asp-for="UserName"></label>

                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName"></span>

                <label asp-for="Password"></label>

                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span> <br />
            <input class="btn btn-light" type="submit" value="Logga in" />
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
