@model PublicSignUpVM


    <div id="header" class="row">
        <div class="col">
            <h2>Registrera användare</h2>
        </div>
    </div>
    <form asp-controller="Public" asp-action="signup">
        <div class="row">
            <div class="col-3">
                <label asp-for="Email"></label>

            </div>
            <div class="col-3">
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>

            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label asp-for="Password"></label>

            </div>
            <div class="col-3">

                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-3">

                <label asp-for="FirstName1"></label>
            </div>
            <div class="col-3">

                <input asp-for="FirstName1" />
                <span asp-validation-for="FirstName1"></span>

            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label asp-for="FirstName2"></label>
            </div>
            <div class="col-3">
                <input asp-for="FirstName2" />
                <span asp-validation-for="FirstName2"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label asp-for="WeddingDate"></label>
            </div>
            <div class="col-3">
                <input asp-for="WeddingDate" />
                <span asp-validation-for="WeddingDate"></span>
            </div>
        </div>




        <input class="btn btn-light" type="submit" value="Registrera par" />
    </form>